<!-- About Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Parlem?</h2>
                <h3 class="section-subheading text-muted">Hola, que tal? ja saps, aquestes coses...</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-12 text-center">
                <img class="btn-primary" src="img/main/bot.jpeg" alt="">
                <h4 class="section-subheading text-muted">Vull parlar amb tu...</h4>
                <link rel="stylesheet" type="text/css" href="https://web.telegram.org/#/im?p=@flyonthewingsoflovebot">
                <button onclick="window.location.href = 'https://web.telegram.org/#/im?p=@flyonthewingsoflovebot';">Parlar</button>
            </div>
        </div>
    </div>
</section>