<!-- Help Section -->
<section id="ajuda">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Ajuda</h2>
                <p class="large text-muted">Fes click en el següent enllaç i un dels nostres agents t'atendrà de seguida</p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-12 text-center">
                <!--<img class="btn-primary" src="img/main/bot.jpeg" alt="">-->
                <link rel="stylesheet" type="text/css" href="https://meet.jit.si/FlyOnTheWingsOfLove">
                <a href="https://meet.jit.si/FlyOnTheWingsOfLove" class="page-scroll btn btn-xl">Contactar</a>
            </div>
        </div>
    </div>
</section>