<!-- Services Section -->
    <section id="començar">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Començem?</h4>
                </div>
            </div>
            <div class="row"></div>
                <div class="col-lg-12 text-center"></div>
                    <p class="large text-muted">Per començar el teu viatge virtual, posa't en contacte amb el nostre assistent virtual fent click al següent enllaç</p>
                    <p class="large text-muted">  </p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <!--<img class="btn-primary" src="img/main/bot.jpeg" alt="">-->
                    <link rel="stylesheet" type="text/css" href="https://web.telegram.org/#/im?p=@flyonthewingsoflovebot">
                    <a href="https://web.telegram.org/#/im?p=@flyonthewingsoflovebot" class="page-scroll btn btn-xl">Començar</a>
                </div>
            </div>
        </div>
    </section>